`Taking input from the user`

In [6]:
n=input("Enter a character: ")
def string_test(c):
    a={"UPPER_CASE":0, "LOWER_CASE":0}
    for b in c:
        if b.isupper():
           a["UPPER_CASE"]+=1
        elif b.islower():
           a["LOWER_CASE"]+=1
        else:
           pass
    print ("Entered characters is  : ", c)
    print ("Number of Upper case characters : ", a["UPPER_CASE"])
    print ("Number of Lower case Characters : ", a["LOWER_CASE"])

string_test(n)

Enter a character: Edyoda Digital University
Entered characters is  :  Edyoda Digital University
Number of Upper case characters :  3
Number of Lower case Characters :  20

`Another Way`

In [5]:
def string_test(c):
    a={"UPPER_CASE":0, "LOWER_CASE":0}
    for b in c:
        if b.isupper():
           a["UPPER_CASE"]+=1
        elif b.islower():
           a["LOWER_CASE"]+=1
        else:
           pass
    print ("Entered characters is  : ", c)
    print ("Number of Upper case characters : ", a["UPPER_CASE"])
    print ("Number of Lower case Characters : ", a["LOWER_CASE"])

string_test('Edyoda Digital University')

Entered characters is  :  Edyoda Digital University
Number of Upper case characters :  3
Number of Lower case Characters :  20